# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Google Drive Service Account
GOOGLE_SERVICE_ACCOUNT_EMAIL=
GOOGLE_PRIVATE_KEY=

# Drive Folder IDs
DRIVE_BRAND_FOLDER_ID=11IIvqpLnljmFIWYqRUeEgRbqiwAEbeDH
DRIVE_PRODUCT_FOLDER_ID=1F3N9s2L8KvsGACwtc1ezTHG4aIzIrLjd

# NextAuth
NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=

# Supabase
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
